<header>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/">E-Ticaret</a>
        </div>

        <div class="navbar-menu">
            <a href="/">Ana Sayfa</a>
            <a href="/products">Ürünler</a>
            <a href="/cart">Sepet</a>
            <a href="/register">Kayıt Ol</a>
        </div>
    </nav>
</header>