<header>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/">E-Ticaret</a>
        </div>

        <div class="navbar-menu">
            <a href="/">Ana Sayfa</a>
            <a href="/cart">Sepet</a>

            <% if (typeof user !=='undefined' && user) { %>
                <a href="/logout">Çıkış Yap</a>
                <% } else { %>
                    <a href="/login">Giriş Yap</a>
                    <a href="/register">Kayıt Ol</a>
                    <% } %>
        </div>
    </nav>
</header>