<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Kayıt Ol</title>
</head>
<body>
  <h1>Kayıt Ol</h1>

  <form action="/register" method="POST">
    <label>Ad Soyad:</label>
    <input type="text" name="name">

    <br><br>

    <label>Email:</label>
    <input type="email" name="email">

    <br><br>

    <label>Şifre:</label>
    <input type="password" name="password">

    <br><br>

    <button type="submit">Kayıt Ol</button>
  </form>
</body>
</html>